

form {
    background-color: rgb(216, 213, 213);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.exampleCode {
    background-color: rgb(68, 68, 68);
    color: white;
    margin-left: 2rem;
    margin-right: 35rem;
    padding-left: .25rem;
}

button {
    background-color: blue;
    color:white;
    border-radius: .5rem;;
}

label, input, textarea, select, button {
    margin: .5rem;
    /* font-size: 1.25rem; */
}